In [4]:
#Importar biblioteca e criar dataframe

import pandas as pd

data = {'Cidade':['São Paulo', 'Rio de Janeiro', 'João Pessoa', 'Porto Alegre','Manaus'], 'Total de doentes':[19045, None, 8901, 13467, 14569], 'Total de Curados':[12345, 10890, 5467, None, None], 'Total de Pessoas que fizeram o tratamento':[None, 1359, 6578, 3467, None]}

df=pd.DataFrame(data)

df

,Cidade,Total de doentes,Total de Curados,Total de Pessoas que fizeram o tratamento
0,São Paulo,19045.0,12345.0,NaN
1,Rio de Janeiro,NaN,10890.0,1359.0
2,João Pessoa,8901.0,5467.0,6578.0
3,Porto Alegre,13467.0,NaN,3467.0
4,Manaus,14569.0,NaN,NaN

In [8]:
#Excluindo os valores nulos pela média da coluna, a simples exclusão deixaria apenas uma linha de dados
df.fillna(df.mean(0))

C:\Users\Lucas Marques\AppData\Local\Temp\ipykernel_26880\2952875411.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean(0))

,Cidade,Total de doentes,Total de Curados,Total de Pessoas que fizeram o tratamento
0,São Paulo,19045.0,12345.000000,3801.333333
1,Rio de Janeiro,13995.5,10890.000000,1359.000000
2,João Pessoa,8901.0,5467.000000,6578.000000
3,Porto Alegre,13467.0,9567.333333,3467.000000
4,Manaus,14569.0,9567.333333,3801.333333

In [11]:
import numpy as np

#Medidas de posição

#Médias
media_total_doentes = np.mean(df['Total de doentes'])
media_total_curados = np.mean(df['Total de Curados'])
media_total_tratamento = np.mean(df['Total de Pessoas que fizeram o tratamento'])

print(media_total_doentes, media_total_curados, media_total_tratamento)

13995.5 9567.333333333334 3801.3333333333335

In [13]:
#Medianas
mediana_total_doentes = np.median(df['Total de doentes'])
mediana_total_curados = np.median(df['Total de Curados'])
mediana_total_tratamento = np.median(df['Total de Pessoas que fizeram o tratamento'])

print(mediana_total_doentes, mediana_total_curados, mediana_total_tratamento)

##OBS: professor, por que está retornando nan?

nan nan nan

In [16]:
#Moda
moda_total_doentes = df['Total de doentes'].mode()
moda_total_curados = df['Total de Curados'].mode()
moda_total_tratamento = df['Total de Pessoas que fizeram o tratamento'].mode()

print(moda_total_doentes, moda_total_curados, moda_total_tratamento)

0     8901.0
1    13467.0
2    14569.0
3    19045.0
Name: Total de doentes, dtype: float64 0     5467.0
1    10890.0
2    12345.0
Name: Total de Curados, dtype: float64 0    1359.0
1    3467.0
2    6578.0
Name: Total de Pessoas que fizeram o tratamento, dtype: float64

In [17]:
#Medidas de dispersão

#Variância
np.var(df)

#Desvio padrão
np.std(df)

D:\anaconda\lib\site-packages\numpy\core\fromnumeric.py:3721: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return var(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)
D:\anaconda\lib\site-packages\numpy\core\fromnumeric.py:3579: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

Total de doentes                             3607.616769
Total de Curados                             2959.595280
Total de Pessoas que fizeram o tratamento    2143.723293
dtype: float64

In [18]:
#Conjunto de dados
df.describe()

,Total de doentes,Total de Curados,Total de Pessoas que fizeram o tratamento
count,4.000000,3.000000,3.000000
mean,13995.500000,9567.333333,3801.333333
std,4165.717025,3624.749141,2625.514108
min,8901.000000,5467.000000,1359.000000
25%,12325.500000,8178.500000,2413.000000
50%,14018.000000,10890.000000,3467.000000
75%,15688.000000,11617.500000,5022.500000
max,19045.000000,12345.000000,6578.000000